@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    @apply scroll-smooth;
  } */
  body {
    @apply m-0 cursor-wait overflow-hidden bg-dark text-white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .underline_link {
    @apply relative z-[1] m-0 flex cursor-pointer flex-row items-center overflow-hidden bg-transparent py-[5px] ease-smooth-curve before:absolute before:bottom-0 before:left-0 before:block before:h-[2px] before:w-0 before:content-[''] after:absolute after:bottom-0 after:right-0 after:block after:h-[2px] after:w-0 after:bg-white after:ease-smooth-curve after:content-[''] after:[transition:width_0.3s] hover:before:w-full hover:before:bg-white hover:before:ease-smooth-curve hover:before:[transition:width_0.3s] hover:after:w-full hover:after:bg-transparent hover:after:[transition:width_0.3s];
  }
}

@layer utilities {
  /* .heading-xxl {
    @apply text-xxl;
  }

  .heading-xl {
    @apply text-xl;
  }

  .heading-l {
    @apply text-l;
  }

  .heading-m {
    @apply text-m;
  }

  .text-spaced-sm {
    @apply text-s-spaced;
  }

  .link-hover-xl {
    @apply px-[1rem] text-xxl;
  }

  .text-link-m {
    @apply text-m-medium;
  }

  .subtitle-md {
    @apply text-section-subtitle uppercase;
  }

  .meta-md {
    @apply text-project-meta;
  }

  .loading-text {
    @apply text-loading-text;
  } */

  /* Paddings */
  .section-padding-t {
    @apply pt-section md:pt-section-lg;
  }

  .section-padding-b {
    @apply pb-section md:pb-section-lg xl:pb-section-xxl;
  }

  .section-padding-y {
    @apply py-section md:py-section-lg xl:py-section-xxl;
  }

  .bg-noise-animation {
    @apply after:pointer-events-none after:absolute after:inset-0 after:h-[300%] after:w-[300%] after:animate-grain after:bg-noise after:opacity-5 after:content-[''];
  }
}

.menu-mask-gradient {
  @media (max-width: 640px) {
    mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 50%,
      /* No fade in the first 80% */ rgba(255, 255, 255, 0) 100%
        /* Fades out in the last 20% */
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

::selection {
  background: gray;
}

/* #loading-banner-1 {
  background: url();
} */
