@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 cursor-wait overflow-hidden bg-dark text-white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .underline_link {
    @apply relative z-[1] m-0 flex cursor-pointer flex-row items-center overflow-hidden bg-transparent py-[5px] ease-smooth-curve before:absolute before:bottom-0 before:left-0 before:block before:h-[2px] before:w-0 before:content-[''] after:absolute after:bottom-0 after:right-0 after:block after:h-[2px] after:w-0 after:bg-white after:ease-smooth-curve after:content-[''] after:[transition:width_0.3s] hover:before:w-full hover:before:bg-white hover:before:ease-smooth-curve hover:before:[transition:width_0.3s] hover:after:w-full hover:after:bg-transparent hover:after:[transition:width_0.3s];
  }
}

@layer utilities {
  .heading-xxl {
    @apply text-xl md:text-xl xl:text-xxl;
  }

  .heading-xl {
    @apply text-m md:text-l xl:text-xl;
  }

  .heading-l {
    @apply text-m xl:text-l;
  }

  .heading-m {
    @apply text-s-spaced xl:text-m;
  }

  .text-spaced-sm {
    @apply text-s-spaced;
  }

  .text-link {
    @apply text-text-link;
  }

  .link-hover-xl {
    @apply text-xl md:text-xl xl:text-xxl;
  }

  .text-link-m {
    @apply text-text-link xl:text-m-medium;
  }

  .subtitle-md {
    @apply text-section-subtitle;
  }

  .meta-md {
    @apply text-project-meta;
  }

  /* Paddings */
  .section-padding-t {
    @apply pt-section md:pt-section-lg xl:pt-section-xxl;
  }

  .section-padding-b {
    @apply pb-section md:pb-section-lg xl:pb-section-xxl;
  }

  .section-padding-y {
    @apply py-section md:py-section-lg xl:py-section-xxl;
  }
}

::selection {
  background: #d12245;
}